.scorecard {
  text-align: center;
}

.next-hole-button {
  width: 50vw;
  height: 10vh;
  font-size: 2rem;
  background: lightgreen;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 10vh;
  left: 25vw;
}

table {
  width: 50vw;
  background: lightgray;
  margin: 0.5rem;
  position: absolute;
  top: 40vh;
  left: 25vw;
}
th {
  background-color: #4caf50;
  color: white;
}
tr {
  background: gray;
}
