/* Main Styles */
.score {
  align-content: center;
  text-align: center;
}

/* Div Styles */
.par {
  display: inline-block;
}

/* Button & Input Styles */
.par-button,
.inc-button {
  width: 60px;
  height: 60px;
  border-radius: 0.4rem;
  margin: 1rem;
}

.par-button {
  background: lightgreen;
  font-size: 1.5rem;
}

.inc-button {
  background: coral;
  font-size: 1.5rem;
}

.score-input {
  height: 60px;
  width: 30vw;
  border-radius: 0.4rem;
  text-align: center;
  font-size: 1.5rem;
}
